.my-btn {
  position: relative;
  z-index: 0;
}

.my-btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  transition: 0.4s all ease;
  width: 0px;
  background-color: rgba(20, 20, 20, 0.463);
}

.my-btn:hover::after {
  width: 100%;
}

.category-box {
  transition: 0.4s all ease;
  border: 1px solid rgba(0, 0, 0, 0.54);
}

.category-box:hover {
  box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.54);
}
